h1{
       width: 604px;
       height: 68px;

        font-family: 'Dancing Script', cursive;
       font-size: 56px;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: normal;
       letter-spacing: normal;
       text-align: center;
       color: #f63e5e;
}

h2{
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #13bcc2;
    font-family: 'Dancing Script', cursive;
    padding-top: 50px;
}
.petit{
    width: 1150px;
    height: 24px;
    margin: 42px 125px 9px 126px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #373a3c;
}
.violet{

    width: 1150px;
    height: 24px;
    margin: 9px 127px 58px 124px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #c21389;
}


h5{
    font-family: 'Dancing Script', cursive;
     color:  #f63e5e;

}


.card1{

    width: 250px;
    height: 250px;
    margin: 0 29px 0 0;
    padding: 1px 1px 16px;
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgb(246, 62, 94) ;
    border: solid 1px #f63e5e;

}



.bg-im{
    background-image: url("Img/abundance-1868573_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    background-position: center;
    padding-top: 150px;
    margin-top: 50%;


}

.arrondi{
    border-radius: 100%;
    width: 180px;
    height: 180px;

}


.de{
    border-radius: 12px;
    border: solid 1px #13bcc2;
    width: 250px;
    height: 325px;
    margin: 0 29px 0 0;
}

p{

    width: 240px;
    margin: 10px 0 0;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #373a3c;
}

.bg-img{
  background-position: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.carousel-item{

    width: 250px;
    height: 350px;
    margin: 58px 0 0;

}

.slide {
    width: 550px;
}

.c,.carou {
    display: flex;
    justify-content: center;
}

.t1{

    width: 250px;
    height: 15px;
    margin: 0 65px 9px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    font-family: HelveticaNeue;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.p2{

    width: 250px;
    height: 49px;
    margin: 6px 0 0;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-left: 65px;
}

.icon{
    width: 45px;
    height: 40px;
    margin: 0 0 0 6px;
    padding: 8px 14px 10px 13px;
    border-radius: 4px;
    border: solid 1px #398c8f;
    background-color: #ffffff;

}
span{

    height: 40px;
    padding: 5px 90px 0 15px;
    border-radius: 4px;
    border: solid 1px white;

}

.navbar {
    background-color: #398c8f;

}

.navbar-light .navbar-nav .nav-link{
    color: white!important;
    margin: 13px;


}


.btn-outline-success{
    color: #398c8f;
    border: white 1px solid !important;
    background-color: white !important;

}

.pv1{

    width: 129px;
    height: 24px;
    padding-top: 50px;
    font-family: OpenSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding-right: 100px;
    color: #c21389;


}

.me-2{
    background-color: #398c8f!important;
}

.logo{
    background-image: url("Img/The After Meal.png");
    background-repeat: no-repeat;

}

.ce{
    display: flex;
    justify-content: end;
}


.fond{
    height: 164px;
    width: 100%;
    background-image: url("Img/img.png");
    background-repeat: no-repeat;
}



.box{
    border: 1px solid white;
    margin: 50px;
    background: white;
    display: flex;
    justify-content: center;

}

.p1{
    border: 2px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;

}

.texte-recette {

    width: 978px;
    height: 53px;
    margin: 0 0 0 21px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #373a3c;

}

.flottant1, .flottant {
    border: 2px solid #c43d3d; margin-top: 10px; width: 490px;
}

.bg-footer{
    background-color:#398c8f ;
}

.bas{

    width: 100px;
    height: 24px;
    margin: 0 50px 8px 0;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

}

.copy{

    width: 369px;
    height: 19px;
    margin: 42px 137px 0 550px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.logo-foot{
    margin: 10px 0 0 30px;
    padding-top: 5px;
    width: 200px;
}

.framboise{

    width: 254px;
    height: 40px;
    margin: 0 6px 0 0;
    padding: 12px 104px 13px 19px;
    border-radius: 4px;
    border: solid 1px #ffffff;


}
.framboise-search{
    color: white;
}

.navbar-light .navbar-text{
    color: white!important;
}


.search{

    width: 40px;
    height: 40px;
    margin: 0 0 0 6px;
    padding: 10px 14px 10px 13px;
    border-radius: 4px;
    border: solid 1px white;
    background-color: #ffffff;
    align-content: center;

}

.pic1{

    height: 300px;
    width: 450px;
}

.difficult-facile{

    width: 253px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #373a3c;


}

.h2-2{

    height: 59px;
    margin: 6px 20px 8px 0;
    font-family: 'Dancing Script', sans-serif;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #13bcc2;

}

.ingredient{

    padding-top: 10px;
    height: 211px;

    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #373a3c;


}

.social{
    margin: 0 29px 0 0;
}

 .page-link{
    color: #f63e5e!important;
     border: 1px solid rgba(246, 62, 94, 0.25)!important;

}

.pagination{
    padding-top: 50px;
    padding-bottom: 50px;
}

.carou{
    padding-bottom: 55px;
}



