header {
    padding: 25px 192px 18px 195px;
    height: 80px;
    background-color: #398c8f;
}
form input::placeholder {
    color: white!important;
    font-family: 'Dancing Script', cursive;
}
.taille {
    width: 1550px;
    height: 500px;
}
.e {
    color: white;
    font-family: 'Dancing Script', cursive;
}

.a {
    color: #f63e5e;
}
.gh {
    font-size: 150px;
}
.ft {
    font-size: 85px;
}
.z {
    color: black;
}
.qsd {
    font-family: 'Dancing Script', cursive;
}
.bg-home {
    background-image: url("asset/img/flat-lay-2583213.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
}

.no-pad {
    padding-left: 0!important;
    padding-right: 0!important;
}
.frt {
    border-top: solid #f63e5e;
}
.es {
    color: #f63e5e!important;
}